<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Run Particles cadex</title>

    <style nonce="<%=locals.nonce%>">
        #nodes {

            width: 100vw;
            height: 100vh;
        }

        #quote {
            background: rgba(148, 168, 236, 0.75);
        }

        h1,
        p {
            color: rgb(212, 229, 243);
            text-align: center;
            padding: 5rem;
            margin: 0;
            z-index: 100;

        }

        h1 {
            color: black;
        }

        p {
            font-size: 2rem;
            text-shadow: 4px 8px 10px rgb(249, 251, 252);
        }
    </style>


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="<%=locals.nonce%>" crossorigin="anonymous">

    <script type="text/javascript" src="/js/node.js" nonce="<%=locals.nonce%>" crossorigin="anonymous"></script>

</head>

<body>

    <script nonce="<%=locals.nonce%>" crossorigin="anonymous" type="text/javascript">
        var nodesjs = new NodesJs({
            id: 'nodes',
            width: window.innerWidth,
            height: window.innerHeight,
            particleSize: 2,
            lineSize: 1,
            particleColor: [255, 255, 255, 0.3],
            lineColor: [255, 255, 255],
            backgroundFrom: [10, 25, 100],
            backgroundTo: [25, 50, 150],
            backgroundDuration: 4000,
            nobg: false,
            number: window.hasOwnProperty('orientation') ? 30 : 100,
            speed: 20,
            pointerCircleRadius: 150
        });
    </script>



    <div style="position: absolute; z-index: 1000; top: 0; right: 0; left: 0; border: 0;" nonce="<%=locals.nonce%>"
        crossorigin="anonymous">


        <header class="quote">
            <h1 style="color:rgb(212, 229, 243)" nonce="<%=locals.nonce%>" crossorigin="anonymous">Particles cadex</h1>
            <p style="z-index: 3000;">"<%= cadex %>"</p>
        </header>

        <a href="https://github.com/RomainBoudet/cadex_front" target="_blank">
            <img style="position: absolute; z-index: 2000; top: 0; right: 0; border: 0;"
                src="https://filedn.eu/lD5jpSv048KLfgLMlwC2cLz/ForkMe.png" alt="Fork me on GitHub link"
                data-canonical-src="https://filedn.eu/lD5jpSv048KLfgLMlwC2cLz/ForkMe.png">
        </a>
    </div>

    <div style="position: absolute; left: 0px; top: 0px; overflow: hidden; width: 100vw; height: 100vh;"
        nonce="<%=locals.nonce%>" crossorigin="anonymous">

        <canvas id="nodes"> </canvas>

    </div>





    <!-- <nodes.js embedding> -->






    <!-- </nodes.js embedding> -->

</body>

</html>